/*
Custom CSS template for ioslides
Author: Matteo Courthoud
Repo: https://github.com/matteocourthoud/ioslides-theme
*/

/* Import google fonts */
@import url('https://fonts.googleapis.com/css?family=Lora|Open+Sans&display=swap');

/* Slide: change font */
slides > slide {
  font-family: 'Consolas', Consolas, 'Comic Sans MS';
  overflow: scroll;
  background: #fff4ff;
}

/* Slide: text color black */
slides > slide > article {
  color: black;
  font-weight: 30;
}

/* Slide: transition slides white */
slides > slide.dark {
  background-color: #fff4ff !important;
}

strong{
  color: #FE88D6 !important;
}

.DiagrammeR, .grViz pre{
  transform: scale(1.4);
  z-index: -1;
}

table.rmdtable tr th{
  background-color: #ff6bc0 !important;
}

table.rmdtable tr:nth-child(odd){
  background-color: white;
}

.mermaid .task0, .mermaid .task1, .mermaid .task2, .mermaid .task3{
  fill: #ff79c6;
  stroke: #d268a5;
}

.mermaid .active0, .mermaid .active1, .mermaid .active2, .mermaid .active3{
  fill:#ffb0de;
  stroke:#ff7dc8;
}


/* Header: change color */
h1 {
  color:#F282CC !important;
  font-size: 50px !important;
}
h2 {
  color:#F282CC !important;
}

text{
  color: white !important;
}


/* Header: underline section slides */
.auto-fadein {
  width: 70%;
}
.auto-fadein > h1 {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}
.auto-fadein > h2 {
  border-bottom: 2px solid grey;
  padding-bottom: 10px;
}

/* References: text color white
.csl-entry p {
  color: white;
}
*/

/* Citations: colored */
.cite {
  color: #FE88D6;
}

/* Center Images */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  max-width: 100%;
}

/* Unordered list style */

/* First level */
ul > li:before {
  content: '';
}
ul > li {
  list-style-type: disc;
}

/* Second level */
ul > li > ul > li:before {
  content: '';
}
ul > li > ul > li {
  list-style-type: circle;
}


/* Code */
pre {
  width: auto !important;
  left: 0px !important;
  padding: 10px 20px 10px 20px !important;
  border-radius: 5px !important;
  border-color: #adb5bd !important;
  border-width: thin !important;
  border-style: solid !important;
}

pre.prettyprint {
  background-color: #f8f8f8 !important;
}




/* Table */
table.rmdtable {
  width: auto !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 25px;
  border-bottom: none !important;
  border-spacing: 0px !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.rmdtable th {
  background: none !important;
  background-color: #003f5c !important;
  padding: 10px;
  text-align: center !important;
}

table.rmdtable td, table th {
    padding: 1em 1em !important;
}

/* Round borders */
table.rmdtable th:first-child {
    border-radius: 5px 0 0 0;
}
table.rmdtable th:last-child {
    border-radius: 0 5px 0 0;
}

table.rmdtable tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}
table.rmdtable tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}

/* Table Hover */
table.rmdtable > tbody > tr:hover > td,
table.rmdtable > tbody > tr:hover > th {
  background-color: #e5e5e5;
}

#planificación{
  display:flex;
  justify-content: Center;
}

slides > slide:not(.nobackground):after{
  position: fixed;
}
