<!--
<nav>
    <ul>
        <img src="{{url_for('static', filename='img/d2.png')}}" alt="">
        <li><a href="{{url_for('index')}}">Boton inicio</a></li>
        <li><a href="https://www.google.com">Google</a></li>
    </ul>
</nav>
-->

<ul class="nav">
    <img src="{{url_for('static', filename='img/d2.png')}}" alt="">

    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Boton inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="https://www.google.com">Google</a>
    </li>
</ul>