{% extends 'bootstrap/base.html' %}

{% block head %}
    {{super()}}
    
    <title>{% block title%} Flask App Web | {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    
{% endblock head %}
    
{% block body %}
    {% block navbar%}
        <!-- EL include es para agregar directamente un render-->
        {% include 'navbar.html' %}
    {% endblock %}
    
    <!-- El block es para que se pueda modificar desde otro archivo -->
    {% block content %}
    {% endblock %}
{% endblock %}

