body {
    background-color: rgb(44, 44, 44);
    color: white;
}

.ip {
    font-size: 1.2em;
    color: rgb(202, 202, 202);
}

a {
    color: rgb(202, 202, 202);
    text-decoration: none;
}

img {
    max-width: 100px;
}